@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$colorPrimario:  #CCFF00;
$colorSecundario: #6633CC;
$colorTerciario: #FFFFFF;
$colorBlack: rgb(26, 26, 26);
$background-color: #3D4450;
$tamanho: 350px;
$altura: 200px;
* {
  box-sizing: border-box;
}

body{ text-align: center;
  color: $colorTerciario;
    flex-direction: column;
    display: flex;
    background-color: $colorSecundario;
   font-family: "Open Sans",  Impact;

    
}

.mainback{
  background-image: url(/img/city.jpg);
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  transition: all 0.5s;
}

.brand-title {
  font-size: 1.5em;
  margin: 0.5rem;
  color: $colorTerciario;
}
.navbar-links {
  ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  li {
      list-style: none;
      text-decoration: none;
  }
}

input {
  margin-right: 1rem;
  font-size: 1.2rem;
  width: 200px;
  border-radius: 30px;
  border: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;

  display: flex;
}
.navbar-links li:hover {
  background-color: rgb(41, 41, 41);
}

.toggle-btn {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-btn {
      display: flex;
  }
  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  input {
      width: 100%;
      margin: 0.7rem;
  }

  .navbar-links ul {
      flex-direction: column;
      width: 100%;
  }

  .navbar-links li {
      text-align: center;
      width: 100%;
  }

  .navbar-links li a {
      padding: 0.5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}



.imgsize{
  
    border-radius: 40px;
    width: $tamanho;
    height: $altura;
    padding: 3px;
    margin: 3px;
    border: solid 5px #CCFF00;
    align-items: center;
}


main{border: solid 3px $colorBlack;

}


h1{
  
  text-align:center;
  font-size:2.5rem;
  color: $colorPrimario;
  letter-spacing: 4px;
  text-transform:uppercase;
  animation:blur .1s ease-out infinite;
  text-shadow:0px 2px 5px $colorPrimario,      0px 0px 7px $colorPrimario;
  -webkit-animation:blur .1s ease-out infinite;
}


h2{
  text-align:center;
  font-size:1.5rem;
  color:#fff;
  letter-spacing: 3px;
  text-transform:uppercase;
  animation:blur .80s ease-out infinite;
  text-shadow: 0px 50px 5px #fff,      0px 0px 7px #fff;
  -webkit-animation:blur .80s ease-out infinite;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}





h3{
  text-align:center;
  font-size:1rem;
  color: $colorPrimario;
  letter-spacing: 3px;
  text-transform:uppercase;
  
 
}

h4{
  text-align:center;
  font-size:1rem;
  color: $colorPrimario;
  letter-spacing: 3px;
  text-transform:uppercase;
  
}

h5{ 
  text-align:center;
  font-size:1rem;
  color: $colorPrimario;
  letter-spacing: 3px;
  text-transform:uppercase;
  

}

h6{ text-align:center;
  font-size:1rem;
  color: $colorPrimario;
  letter-spacing: 3px;
  text-transform:uppercase;
  }

h7{ text-align:center;
  font-size:1rem;
  color: $colorPrimario;
  letter-spacing: 3px;
  text-transform:uppercase;
  }


.containerc{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
    
}
    


.containercard{

   display: flex;
   border-radius: 50px;
   align-items: center;
   margin: 15px;
   padding: 20px;
   flex-direction: column;
   
}

.card{
    width: 400px;
   display: flex;
   flex-direction: column;
    border-radius: 50px;
    border: solid $colorTerciario 2px;
    margin: 15px;
    padding: 25px;
    background-color: $colorBlack;
    color: $colorTerciario;
   
}


.cardtxt {
    display: flex;
    position: static;
    border-radius: 120px;
    
    border: solid $colorTerciario 2px;
    margin: 10px;
    padding: 10px;
    background-color: $colorBlack;
    }


.btn {    width: 50px;
   
    display: block;
    text-align: center;
    background-color: #6633CC;
    color: $colorTerciario;
    margin: 5px $colorPrimario;
    padding:5px;
    border: solid 5px $colorTerciario;
    display: block;
    border-radius: 30px ;
    text-decoration: none;
   margin-left: 150px;
   
         
}




footer {
    margin: 3px;
    padding: 4px;
    border: solid 3px $colorBlack;
    color: $colorTerciario;
    background-color: $colorBlack;
    justify-content: baseline;
    text-decoration: none;
    text-align: left;
    
  }


.imgsizepages {

  display: flex;
  flex-direction: column;
  border-radius: 40px;
  width: $tamanho*2;
  height: $altura*2;
  padding: 5px;
  margin: 3px;
  border: solid 5px $colorTerciario;
  align-items: center;
 }

.containeremote{
  margin: 3px;
  padding: 5px;
  background-color: $colorSecundario;
 display: flex;
  gap: 10px;
  grid-template-columns: repeat(1);
  flex-direction: column;
}

.containeremote div{
background-color: $colorBlack;
border:solid 5px $colorBlack;
height:600px;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;


}

.videobox{
  border-radius: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin: 45px;
  padding: 1px;
  border: solid 5px $colorPrimario;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}



.form{
 
  display: flex;
  flex-direction: column;
   border-radius: 50px;
   justify-content: center;
   align-items: center;
   margin: 15px;
   padding: 25px;
   background-color: $colorBlack;
   color: $colorTerciario;

 div{
  width: 400px;
  display: flex;
  flex-direction: column;
   border-radius: 50px;
   border: solid $colorSecundario 9px;
   margin: 15px;
   padding: 25px;
   background-color: $colorBlack;
   color: $colorTerciario;
   
}

}

